<div id="home-page">
  <form action="/artist-search" method="GET">
    <label><input type="text" name="artist" /></label>
    <br />
    <hr />
    <button id="submit-Btn"type="submit">Search for an Artist</button>
  </form>
</div>
