<img
	class="homepage-img"
	src="/images/spotify-background.jpeg"
	alt="background image"
/>
<form action="/artist-search" method="GET">
	<input name="nameToSearch" type="text" />
	<button type="submit">Search for an artist</button>
</form>
