<h1 id="layout-text">Spotify</h1>
<div id="home-page">
  <form action="/artist-search" method="GET">
    <label><input id="search-bar" type="text" name="artist" /></label>
    <br />
    <button id="submit-Btn" type="submit">Search for an Artist</button>
  </form>
</div>
