<section>
   <div>
      <h1>
         Home Page
      </h1>
   </div>
   <form action="/artist-search" method="get">
      <input type="search" name="artist" placeholder="Search..." >
      <button type="submit">Search for an Artist</button>
   </form>
</section>
