<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Page</title>
    <link rel="stylesheet" href="styles/style.css" />
</head>

<body class="layout-page">
    <!-- <img src="/images/spotify-background.jpeg" alt="Spotify background"> -->
    <nav>
        <h1 id="layout-text">Spotify</h1>
        <%- body %>
           
                <h2><a href="/" id="home-Btn">Home</a></h2>
    </nav>
    </nav>
</body>

</html>