<div id="tracks-search">
    <h1>Tracks</h1>
    <ul>
    <% tracksResult.forEach((track) => { %> 
        <% if (track.images) { %>
    <img src="<%- track.images[0]%> alt="<%- track.name %>"> 
    <% } else { %>
    <% } %>
    <h2><%-track.name%></h2>
    <button><a href="<%-track.preview_url%>"">Play Audio</a></button>
    <%})%>
    </ul>
  </div>